---
layout: default
title: "Heritage &amp; Urban Form"
page-category: subcommittee
weight: 4
description: Scott County is a vibrant community that welcomes new residents, visitors, and businesses while retaining its small-town charm, rich culture, and heritage. Pride is apparent in our commitment to an urban form that reflects preservation, human-scaled design, aesthetic appeal, and dynamic civic spaces.
meeting: Third Thursday
building: Development Services
address: 230 E Main St
chair: Polly Singer Eardley
lead: Megan Chan
additional-staff:
  - member: Joe Kane
  - member: Mary Somerville
  - member: Ryan Cooper
principles:
  - p: Local heritage is an asset to the community; our heritage includes cultural resources and knowledge, history, traditions, historic buildings, and historic sites.
  - p: Maintenance and preservation of historic districts, sites, and structures helps retain our local culture and heritage.
  - p: New construction and renovation should complement the existing character and form of its surroundings.  Quality materials, craftsmanship, and consistent design add value to the community as a whole.
  - p: Downtowns play a major role in our cultural identity, local governance, and economic activity.  Care should be given to retain and enhance our downtown buildings, public spaces, corridors, and gateways.
  - p: Our community is designed for all, with consideration for aesthetics, accessibility, and design at the human-scale.  Design with these characteristics in mind enhances user experience.
---
<div class="home">
  {% include sub-info.html %}
  <h2 class="resource-section-header">Meeting Resources</h2>
  {% for post in site.posts %}
  {% if post.categories contains 'heritage-urban-form' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
