---
layout: default
title: "Heritage &amp; Urban Form"
page-category: subcommittee
weight: 4
description: Scott County attracts new residents, visitors, and businesses with its heritage and built environment, while retaining its small-town character and historic sites.  Educational opportunities regarding our community’s history and buildings is readily available to the public through the Scott County Museum, Georgetown/Scott County Tourism Commission, local heritage sites, and educational programming.  A series of overlay districts for historic downtown areas and major corridors protect and enhance our historic resources and commercial districts through preservation, design guidelines, and predictable urban form.
meeting: Third Thursday
building: Development Services
address: 230 E Main St
chair: Polly Singer Eardley
lead: Megan Chan
additional-staff:
  - member: Joe Kane
  - member: Mary Somerville
  - member: Ryan Cooper
  - member: Alaina Hagenseker
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'heritage-urban-form' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
