---
layout: default
title: "Human Services &amp; Community Building"
page-category: subcommittee
weight: 5
description: Scott County benefits from a high quality of life, accessible public services, and collaborative community partnerships.  Our community offers arts, cultural, educational, health and wellness, recreational and parks programs, and financial resources to improve equity and access for those in need.  Community members have diverse and welcoming locations and opportunities to gather, to play and learn together, and support each other in times of need.  Affordable housing is available, accessible, and kept in good condition, and homeless individuals have access to housing, food, and workforce training.
meeting: Fourth Thursday
building: Development Services
address: 230 E Main St
chair: Kandice Whitehouse
lead: Megan Chan
additional-staff:
  - member: Matt Summers
  - member: John Carter
  - member: Alaina Hagenseker
principles:
  - p: All Scott County citizens should have access to a high standard of living and human services, including but not limited to&#58; arts and cultural enrichment opportunities, quality housing, shelter, public transportation, food, health care, education, employment, and senior care.
  - p: All Scott Countians should have safe and sanitary housing to meet the needs of a diverse population with varying income levels, household size and type, and special housing needs.
  - p: The community values its numerous “Quality of Life Partnerships,” which promote and nurture strong, diverse, and safe environments where people have opportunities for cross-neighborhood interaction.
  - p: Scott Countians should have access to quality education and workforce development opportunities throughout their lifetime.
  - p: Funding for partnerships and opportunities comes from a variety of sources, i.e., city, county, college, private business and industry, and participants in the many activities.
  - p: Every citizen should have access to artistic, cultural, educational, financial, health and wellness, and parks and recreational programs.
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'human-services-community-building' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
