---
layout: default
title: "Human Services &amp; Community Building"
page-category: subcommittee
weight: 5
description: Scott County benefits from a high quality of life, accessible public services, and collaborative community partnerships.  Our community offers arts, cultural, educational, health and wellness, recreational and parks programs, and financial resources to improve equity and access for those in need.  Community members have diverse and welcoming locations and opportunities to gather, to play and learn together, and support each other in times of need.  Affordable housing is available, accessible, and kept in good condition, and homeless individuals have access to housing, food, and workforce training.
principles:
  - p: All Scott County citizens should have access to a high quality of life and human services (including but not limited to housing, shelter, public transportation, food, health care, education, and senior care).
  - p: All Scott Countians should have safe, sanitary, and decent housing to meet the needs of a diverse population, who varying income, household size and type, and special housing needs.
  - p: Through its numerous “Quality of Life Partnerships”, the community nurtures strong, diverse and interactive neighborhoods where people feel safe and socially connected with opportunities for cross-neighborhood interaction.
  - p: Scott Countians should have access to quality educational and training opportunities throughout their lifetime.
  - p: Funding for partnerships and opportunities come from a variety of sources, i.e., city, county, college, private business and industry, and participants in the many activities.
goals:
  - g: This “Coalition” of community partners has established a track record of working to insure the best use of available resources and working toward the elimination of unmet needs, as they arise in the community. (Goal to create, fund, and maintain.)
  - g: Scott County, Georgetown, Stamping Ground, and Sadieville each have responsive and dependable Health and Human Services delivery systems that exceed national standards for a community of its size. Scott County proactively assesses, measures, evaluates, addresses, and acts upon identified health and human services needs through an on-going collaboration among community partners.
  - g: Low and moderate income housing and homeless shelters should be&#58; 1) available for  those in need, 2) affordable, within a variety of pricing ranges, and 3) kept in good-condition and regularly inspected to ensure safety and code compliance. 
meeting: Fourth Thursday
building: Development Services
address: 230 E Main St
chair: Kandice Whitehouse
lead: Megan Chan
additional-staff:
  - member: Matt Summers
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'human' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
