---
layout: default
title: "Public Meetings"
description: Throughout the comprehensive planning process there will be public meetings where the community will have an opportunity to learn about and contribute. If you're unable to make one of our public meetings, you'll be able to find various resources from the meeting below.
---
<div class="home">
  <h1 class="sub-page-title">{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  {% for post in site.posts %}
  {% if post.categories contains 'public-meetings' %}
  {% include public-meeting.html %}
  {% endif %}
  {% endfor %}
</div>
