---
layout: default
title: "Public Meetings"
description: Agriculture and environmental protection provide Scott County with a sustainable and vibrant future. Prime farmland and environmentally sensitive areas are protected and preserved from sprawl and development.  Scott County agricultural areas provide access to locally grown and produced goods. Recycling, re-use, and composting reduce waste and demand on natural resources.
---
<div class="home">
  <h2>{{ page.title }}</h2>
  {% for post in site.posts %}
  {% if post.categories contains 'public-meetings' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
