---
layout: default
title: "Agriculture &amp; Environment"
page-category: subcommittee
weight: 1
description: Agriculture and environmental protection provide Scott County with a sustainable and vibrant future. Prime farmland and environmentally sensitive areas are protected and preserved from sprawl and development.  Scott County agricultural areas provide access to locally grown and produced goods. Recycling, re-use, and composting reduce waste and demand on natural resources.
meeting: Third Wednesday
building: Development Services
address: 230 E Main St
chair: Claude Christensen
lead: Matt Summers
additional-staff:
  - member: Joe Kane
  - member: Whitley Wolfe
  - member: Perry Johnston
  - member: Alaina Hagenseker
principles:
  - p: Development outside of the urban service boundaries should be at a scale appropriate for the density and character of the rural landscape.
  - p: Water quality can be affected by all land use and development activities.  Water 99resources are interconnected with all other aspects of the environment and are important aspects of land use and development and review.
  - p: Environmentally Sensitive Areas include&#58; creek conservation corridors, property zoned C-1, minor waterways, Scott County reservoir protection area, aquifer recharge area, wetlands, significant trees and fence rows, steep slopes and clay soils, sinkholes, cave areas, major rock formations and outcroppings, springs, floodplains/floodways, landfills/refuse areas, prime farmlands, significant natural habitats for plants and animals, and scenic and historic rural resources.
  - p: Royal Spring Aquifer requires special protection as it directly provides drinking water and water for agricultural production.
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'ag-environment' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
