<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">{{ site.title }}</h5>
        <p class="grey-text text-lighten-4">{{ site.description }}</p>
      </div>
      <div class="col l6 s12">
        <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
        <ul>
          <li><a class="white-text" href="http://enterthecrucible.co/blog/posts.html">Crucible Blog</a></li>
          <li><a class="white-text" href="https://twitter.com/entrthecrucible">Follow us on Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Template by <a class="orange-text text-lighten-3" href="http://enterthecrucible.co">Crucible</a> | Site by Georgetown-Scott County Planning Commission
    </div>
  </div>
</footer>
