{% assign pages = site.pages | sort: "weight" %}
<ul id="dropdown1" class="dropdown-content">
  {% for page in pages %}
      {% if page.page-category %}
      {% if page.category == subcommitee %}
      <li><a class="page-link" href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
      {% endif %}
  {% endfor %}
</ul>

{% assign pages = site.pages | sort: "weight" %}
<ul id="dropdown2" class="dropdown-content green-text">
  {% for page in pages %}
      {% if page.page-category %}
      {% if page.category == subcommittee %}
      <li><a class="page-link" href="{{ page.url | prepend:site.baseurl }}">{{ page.title }}</a></li>
      {% endif %}
      {% endif %}
  {% endfor %}
</ul>

<nav class="green" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" href="/index.html" class="brand-logo">{{ site.title }}</a>

    <ul class="right hide-on-med-and-down">
      <li><a class="page-link" href="/index.html">Home</a></li>
      <li><a class="page-link" href="/public-meetings">Public Meetings</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Committees &amp; Subcommittees<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a class="page-link" href="/index.html">Home</a></li>
      <li><a class="page-link" href="/public-meetings">Public Meetings</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Committees &amp; Subcommittees<i class="material-icons right dropdown-arrow-mobile">arrow_drop_down</i></a></li>
    </ul>

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

  </div>
</nav>
