<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- <script src="https://code.highcharts.com/modules/exporting.js"></script> -->
<script src="/js/dataviz/baseChartTheme.js"></script>
<script src="/js/dataviz/resizeTab.js"></script>
<!-- <script src="/js/dataviz/compplanThemeHC.js"></script> -->
<!-- Community Image -->
<!-- How important or unimportant are the following to as far as what you personally value in a community? -->
<script src="/js/dataviz/ciValue.js"></script>
<script src="/js/dataviz/ciPerception.js"></script>
<script src="/js/dataviz/cipPriorities.js"></script>
<script src="/js/dataviz/cipDesign.js"></script>
<script src="/js/dataviz/aag.js"></script>