<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="../js/dataviz/compplanThemeHC.js"></script>
<script src="/js/dataviz/compplanThemeHC.js"></script>
<!-- Encouraging growth in SC generally -->
<script src="../js/dataviz/growth1991.js"></script>
<script src="../js/dataviz/growth2015.js"></script>
<!-- Encouraging growth in respondant's part of SC -->
<script src="/js/dataviz/growthpart1991.js"></script>
<script src="/js/dataviz/growthpart2015.js"></script>