{% if post %}
<h2 class="resource-section-header">Meeting Resources</h2>
<div class="row">
  <div class="col s12 m12 l12">
    <div class="card blue-grey lighten-5">
      <div class="card-content black-text">
        <header class="post-header">
          <h1 class="post-title">{{ post.title }}</h1>
          <hr>
        </header>
        <article class="post-content">
            {% if post.date %}
            <h3>Date: {{ post.date | date: "%b %-d, %Y" }}</h3>
            {% endif %}

            {% if post.background %}
            <h3>Background: </h3>
            <div class="row">
              <div class="col s10 offset-s1">
              <p>{{ post.background }}</p>
              </div>
            </div>
            {% endif %}
            {% if post.slideshare %}
            <h3>Documents: </h3>
            {% for slide in post.slideshare %}
            <h5>{{ slide.title }}</h5>
            {{slide.embed}}
            {% endfor %}
            {% endif %}
          </article>
      </div>
    </div>
  </div>
</div>
{% endif %}