<h1 class="sub-page-title">{{ page.title }}</h1>
<div class="row">
  <div class="col s12 m12">
    <div class="card blue-grey lighten-5">
      <div class="card-content sub-card-content black-text">
        <div class="row">
          <div class="col s12 m12 l4">
            <h5>Monthly Meeting:</h5>
            {{page.meeting}} | 5:00 - 7:00pm
            <h5>Location</h5>
            {{ page.building }}<br>
            {{ page.address }}, Georgetown, KY
            <h5>Chair:</h5>
            {{page.chair}}
            <h5>Staff Lead:</h5>
            {{page.lead}}
            <h5>Additional Staff:</h5>
            <ul>
            {% for staff in page.additional-staff %}
              <li>{{staff.member}}</li>
            {% endfor %}
            </ul>
          </div>
          <div class="col s12 m12 l8">
            <h5>Vision Statement:</h5>
            <p>{{ page.description }}</p>
            {% if page.principles %}
            <h5>Fundamental Principles:</h5>
            <ul class="bullet-list">
              {% for principle in page.principles %}
              <li>{{ principle.p }}</li>
              {% endfor %}
            </ul>
            {% endif %}
            {% if page.goals %}
            <h5>Goals &amp; Objectives:</h5>
            <ul class="bullet-list">
              {% for goal in page.goals %}
              <li>{{ goal.g }}</li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>