---
layout: default
title: "Growth &amp; Economic Development"
page-category: subcommittee
weight: 3
description: Scott County and its communities have a distinctive local and regional economic impact. A diverse economy encourages growth and provides consumers with an array of locally produced goods and contributes to the quality of life of the community. Local schools, job training resources, and a robust transportation network make Scott County a premier location for employers and employees.
building: Development Services
address: 230 E Main St
chair: David Lusby
lead: Matt Summers
additional-staff:
  - member: Megan Chan
  - member: Alaina Hagensker
principles:
  - p: Economic and population growth should occur in a manner that allows for a fiscally healthy community.
  - p: Educated and skilled citizens drive growth and attract employers.
  - p: A variety of industries and commercial properties creates sustainable development.
  - p: We promote a sustainable economy by encouraging a variety of industrial community entities.
  - p: Diversified agriculture production allows sustained employment and local agricultural commerce. We are proud of our agricultural heritage.
  - p: Technological infrastructure that is compatible with future economies improve our natural resources and improve opportunity for our community. 
---
<div class="home">
  {% include sub-info.html %}
  <h2 class="resource-section-header">Meeting Resources</h2>
  {% for post in site.posts %}
  {% if post.categories contains 'growth-economic-development' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
