---
layout: default
title: "Growth &amp; Economic Development"
page-category: subcommittee
weight: 3
description: Georgetown, Stamping Ground, and Sadieville each have a distinctive local and regional economic impact. A diverse economy drives population growth and provides consumers with an array of locally produced goods. Local schools, job training resources, and a robust transportation network make Scott County a premier location for high-wage employers.  
meeting: Fourth Monday
building: Development Services
address: 230 E Main St
chair: David Lusby
lead: Matt Summers
additional-staff:
  - member: Megan Chan
  - member: Alaina Hagensker
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'growth-economic-development' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
