@import url(https://fonts.googleapis.com/css?family=Roboto:400,700|Roboto+Slab);

html {
  font-family: "Roboto Slab", serif;
  color: rgba(0,0,0,1);
}
h1,h2,h3,h4,h5,h6,
.nav-wrapper,
.card-action {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: underline; 
}

a.page-link:hover,
a.dropdown-button:hover,
a.button-collapse:hover,
a.brand-logo:hover {
  text-decoration: none;
}

.home-title {
  font-weight: bold;
  font-family: "Roboto Slab", serif;
}

.dropdown-content li>a {
  color: #4CAF50;
}
.dropdown-content li>a:hover {
  color: white;
  background-color: #4CAF50;
}

.bullet-list {
  margin-left: 40px;
}
.bullet-list li {
  list-style-type: disc;
}

.home-bg {
  background-image: url("/images/bg-temp.jpg");
  background-position: 1% 50%;
  min-height: 800px;
}

.comm-members {
  column-count: 2;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}


.page-content {
  padding: 0 0;
}

#index-banner {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.card.small {
  height: 213px;
}

.card-title {
  text-shadow: 0px 0px 2px #000, 
  0px 0px 5px #000,
  0px 0px 10px #000,
  0px 0px 20px #000,
  0px 0px 30px #000, 
  0px 0px 40px #000, 
  0px 0px 50px #000;
}

.card, .card .sub-card-content {
  padding-bottom: 0;
  margin-bottom: 0;
}

.sub-page-title {
  font-size: 5rem;
}

.sub-page-title, .resource-section-header, .post-title {
  font-weight: 700;
}
.sub-document-list {
  font-size: 1.4rem;
}
.sub-document-list>ul {
  margin: 0;
}
footer.page-footer {
  margin-top: 0;
}


@media screen {
  .side-nav a {
    line-height: 20px;
    padding-top: 20px;
    padding-bottom: 20px
  }
  .dropdown-arrow-mobile {
    line-height: 1px;
  }
}

.ribbon {
  overflow: hidden;
  white-space: nowrap;
  /* fixed to bottom-right corner */
  position: fixed;
  bottom: 30px;
  right: -73px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon a {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 100% 'Roboto Slab', serif;
  margin: 1px 0;
  padding: 5px 70px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}