---
layout: default
title: "Land Use"
page-category: subcommittee
weight: 7
description: Scott County and its urban and rural areas provide diversity of uses which allows interaction and connectivity between land uses and transportation types; Distinct neighborhoods which have strong character and equitable access; Dedicated focus to our downtowns which provide the backbone of each of our three cities; Land for economic centers where industrial and commercial activity are able to thrive and produce for the county and region; A supportive environment for institutions (schools, etc.) which allows integration and collaboration throughout the community, and Environmental protection, our natural and open spaces are identified and protected through acquisition, stewardship, and through site planning and incorporated as vital components of our infrastructure and economy.
principles:
  - p: The Fundamental Principle for managing growth within Scott County is to produce a positive impact on the overall quality of life throughout the County and achieve a proper balance between the property rights of individuals and the rights and needs of the general public and community.
  - p: Growth occurs predominately within existing urban areas.  Future growth expansion shall occur within the present and future bypass to the north and northwest rather than to the south, east, or west of the existing urban services.
  - p: Urban centers will be strengthened through infill and adaptive reuse of existing buildings, incremental and sustainable growth.
  - p: Main corridors into urban centers in Scott County shall be planned to provide aesthetically pleasing functionally entryways.  Rural areas (amend or reference to Ag &amp; Environment section).  
goals:
  - g: Employment growth shall be a priority and a land bank of zoned and shovel ready lots shall be manufactured to provide commercial and industrial land for at least a five year period.  
meeting: Third Monday
building: Development Services
address: 230 E Main St
chair: David Lusby
lead: Joe Kane
additional-staff:
  - member: Megan Chan
  - member: Matt Summers
  - member: Ryan Cooper
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'land-use' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
