---
layout: default
title: "Survey Results"
category: resources
page-category: survey-test
description: During the 1991 comprehensive planning process, the Planning Commission conducted a survey in order to get a sense of how the people of Scott County saw their community then and what they wanted from it in the future. Throughout the last quarter of 2015, the Planning Commission conducted a similar survey that would help those involved in the comprehensive planning process understand better how priorities have changed or stayed the same. This page depicts the results of both of those surveys.
---
<div class="home">
  <h1 class="sub-page-title">{{ page.title }}</h1>
  <p>{{ page.description }}</p>
  <p><i>Like all pages on this site, the survey results page is a work in progress. If you've managed to find this page, just know that we'll be rolling out more and more survey results as we get them processed!</i></p>
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#image" class="green-text text-darken-4">Image</a></li>
        <li class="tab col s3"><a href="#issues-priorities" class="green-text text-darken-4 active">Issues &amp; Priorities</a></li>
        <li class="tab col s3"><a href="#attitudes-growth" class="green-text text-darken-4">Growth</a></li>
        <li class="tab col s3"><a href="#news-comm" class="green-text text-darken-4">Communication</a></li>
        <li class="tab col s3"><a href="#demographics" class="green-text text-darken-4">Demographics</a></li>
      </ul>
    </div>
    <div id="image" class="col s12 l12">
      <h2>Community Image</h2>
      <ul>
        <li><a href="#ci-value">How important or unimportant are the following to you as far as what you personally value in a community?</a></li>
        <li><a href="#ci-perception">Would you give your community an excellent, very good, good, or less than satisfactory rating on these items?</a></li>
      </ul>
      <div class="row" id="ci-value">
        <div class="col s12 m12 l12">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <h5>How important or unimportant are the following to you as far as what you personally value in a community?</h5>
              <div id="value-quiet" class="col l6 m12 s12"></div>
              <div id="value-stable" class="col l6 m12 s12"></div>
              <div id="value-closeness" class="col l6 m12 s12"></div>
              <div id="value-progressive" class="col l6 m12 s12"></div>
              <div id="value-friendly" class="col l6 m12 s12"></div>
              <div id="value-cost" class="col l6 m12 s12"></div>
              <div id="value-privacy" class="col l6 m12 s12"></div>
              <div id="value-restaurants" class="col l6 m12 s12"></div>
              <div id="value-clean" class="col l6 m12 s12"></div>
              <div id="value-rural" class="col l6 m12 s12"></div>
              <div id="value-edu" class="col l6 m12 s12"></div>
              <div id="value-jobs" class="col l6 m12 s12"></div>
              <div id="value-pride" class="col l6 m12 s12"></div>
              <div id="value-goals" class="col l6 m12 s12"></div>
              <div id="value-environment" class="col l6 m12 s12"></div>
              <div id="value-history" class="col l6 m12 s12"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="ci-perception">
        <div class="col s12 m12 l12">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <h5>Would you give your community an excellent, very good, good, or less than satisfactory rating on these items?</h5>
              <div id="perception-quiet" class="col l6 m12 s12"></div>
              <div id="perception-stable" class="col l6 m12 s12"></div>
              <div id="perception-closeness" class="col l6 m12 s12"></div>
              <div id="perception-progressive" class="col l6 m12 s12"></div>
              <div id="perception-friendly" class="col l6 m12 s12"></div>
              <div id="perception-cost" class="col l6 m12 s12"></div>
              <div id="perception-privacy" class="col l6 m12 s12"></div>
              <div id="perception-restaurants" class="col l6 m12 s12"></div>
              <div id="perception-clean" class="col l6 m12 s12"></div>
              <div id="perception-rural" class="col l6 m12 s12"></div>
              <div id="perception-edu" class="col l6 m12 s12"></div>
              <div id="perception-jobs" class="col l6 m12 s12"></div>
              <div id="perception-pride" class="col l6 m12 s12"></div>
              <div id="perception-goals" class="col l6 m12 s12"></div>
              <div id="perception-environment" class="col l6 m12 s12"></div>
              <div id="perception-history" class="col l6 m12 s12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="issues-priorities" class="col s12">
      <h2>Community Issues &amp; Priorities</h2>
      <ul>
        <li><a href="#cip-priorities">Would you say, in terms of overall community priorities, that the following are extremely important and require immediate action, very important but not critical, or of moderate importance compared to other community issues?</a></li>
        <li><a href="#cip-design">Would you favor/oppose architectural/building standards for new commercial development for the following?</a></li>
      </ul>
      <div class="row" id="cip-priorities">
        <div class="col s12 m12 l12">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <h5>Would you say, in terms of overall community priorities, that the following are extremely important and require immediate action, very important but not critical, or of moderate importance compared to other community issues?</h5>
              <div id="priorities-zoning" class="col l6 m12 s12"></div>
              <div id="priorities-housing" class="col l6 m12 s12"></div>
              <div id="priorities-recycling" class="col l6 m12 s12"></div>
              <div id="priorities-water-supply" class="col l6 m12 s12"></div>
              <div id="priorities-roads" class="col l6 m12 s12"></div>
              <div id="priorities-seniors" class="col l6 m12 s12"></div>
              <div id="priorities-water-quality" class="col l6 m12 s12"></div>
              <div id="priorities-sewer" class="col l6 m12 s12"></div>
              <div id="priorities-training" class="col l6 m12 s12"></div>
              <div id="priorities-cooperation" class="col l6 m12 s12"></div>
              <div id="priorities-consolidation" class="col l6 m12 s12"></div>
              <div id="priorities-legacy" class="col l6 m12 s12"></div>
              <div id="priorities-edu" class="col l6 m12 s12"></div>
              <div id="priorities-design" class="col l6 m12 s12"></div>
              <div id="priorities-incentives" class="col l6 m12 s12"></div>
              <div id="priorities-impact" class="col l6 m12 s12"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" id="cip-design">
        <div class="col s12 m12 l12">
          <div class="card blue-grey lighten-5">
            <div class="card-content black-text">
              <h5>Would you favor/oppose architectural/building standards for new commercial development for the following?</h5>
              <div id="design-county" class="col l6 m12 s12"></div>
              <div id="design-corridors" class="col l6 m12 s12"></div>
              <div id="design-downtown" class="col l6 m12 s12"></div>
              <div id="design-none" class="col l6 m12 s12"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="attitudes-growth" class="col s12">
      <h2>Attitudes about Growth</h2>
    </div>
    <div id="news-comm" class="col s12">
      <h2>News &amp; Communication</h2>
    </div>
    <div id="demographics" class="col s12">
      <h2>Demographics</h2>
    </div>
  </div>
</div>
  <!-- {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'ag-environment' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %} -->
</div>

