---
layout: default
title: "Infrastructure &amp; Facilities"
page-category: subcommittee
weight: 6
description: Scott County residents, visitors, and businesses benefit from a multi-modal transportation network, including pedestrian, motorized and non-motorized vehicle, air, and rail infrastructure.  Public utilities and services are available at urban and rural scales. Accessible and highly utilized community facilities, such as public office, parks, schools, libraries, emergency services, health and wellness centers, and community gathering spaces, are located through Scott County.
meeting: Fourth Tuesday
building: Development Services
address: 230 E Main St
chair: Steve Smith
lead: Joe Kane
additional-staff:
  - member: Matt Summers
  - member: Brent Combs
  - member: Ryan Cooper
  - member: Alaina Hagenseker
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'infrastructure-facilities' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
