---
layout: default
title: "Infrastructure &amp; Facilities"
page-category: subcommittee
weight: 6
description: Scott County residents, visitors, and businesses benefit from a safe, efficient and well-maintained multi-modal transportation network. Public utilities and services are available at appropriate urban and rural scales throughout the county. Community facilities and gathering spaces are effectively located consistent with future land use plans and are accessible to all.
meeting: Fourth Tuesday
building: Development Services
address: 230 E Main St
chair: Steve Smith
lead: Joe Kane
additional-staff:
  - member: Matt Summers
  - member: Brent Combs
  - member: Ryan Cooper
principles:
  - p: Investment decisions should result in a safe and modern transportation that serves all citizens of Scott County.
  - p: Infrastructure and facility planning should consider social, economic and environmental, historic, and cultural impacts.
  - p: Capital improvement planning should be a collaborative and coordinated process used to identify new infrastructure &amp; facilities installation and maintenance needs. We prioritize and address existing deficiencies in existing areas to improve the quality of life and efficiency and spur reinvestment.
  - p: Cost of new infrastructure expenses should be primarily borne by those creating the need. Future land use plans shall seek to promote growth utilizing existing infrastructure capacities in an efficient way.
  - p: We strive to maintain or improve level of service of infrastructure and community facilities.
  - p: Community facility needs shall be coordinated with the Future Land Use Plan so land needed for future community facilities can be accommodated when new development is proposed.
  - p: Future growth incorporates sustainable practices. Locally provided sustainable energy production, green infrastructure, environmental responsibility, and open space planning shall be encouraged to reduce community-wide impacts of future growth.
  - p: Modern communication should be available throughout the county.
---
<div class="home">
  {% include sub-info.html %}
  <h2 class="resource-section-header">Meeting Resources</h2>
  {% for post in site.posts %}
  {% if post.categories contains 'infrastructure-facilities' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
