<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    
    {% include header.html %}
    <div class="page-content">
      <div class="section no-pad-bot" id="index-banner">
        <div class="container">
        {{ content }}
      </div>
    </div>
  </div>
    {% include footer.html %}
    {% include draft-ribbon.html %}
  </body>
  {% if page.title %}
    {% include post-scripts.html %}
  {% else %}
    {% include scripts.html %}
  {% endif %}
  {% if page.page-category == "survey-results" %}
    {% include highcharts.html %}
  {% endif %}
  {% if page.page-category == "documents" %}
    {% include documents.html %}
  {% endif %}
</html>
