---
layout: default
title: "Executive Steering Committee"
page-category: subcommittee
weight: 2
description: In 2040, Scott County is a sustainable, vibrant, safe, and healthy community of urban and rural areas.  We have quality and affordable growth, a diverse economic base, high standards of living, lifelong learning resources, and abundant opportunity.  We invite creative solutions and welcome new people and ideas to adapt to future needs.  From the winding Elkhorn to historic downtowns to the scenic bluegrass farmlands, we value and take pride in local natural and cultural resources.
meeting: Third Tuesday
building: Development Services
address: 230 E Main St
chair: Rob Jones
lead: Joe Kane
additional-staff:
  - member: Megan Chan
  - member: Matt Summers
  - member: Alaina Hagenseker
comm-members:
  - member: Bill Burke
  - member: Claude Christensen
  - member: Mike Hockensmith
  - member: Rick Hostetler
  - member: Rob Jones
  - member: David Lusby
  - member: Dale Perry
  - member: Christie Robinson
  - member: Polly Singer Eardley
  - member: Steve Smith
  - member: Connie Tackett
  - member: Chad Wallace
  - member: Kandice Whitehouse
  - member: Frank Wiseman
---
<div class="home">
  {% include sub-info.html %}
  {% for post in site.posts %}
  {% if post.categories contains 'executive' %}
  {% include meeting.html %}
  {% endif %}
  {% endfor %}
</div>
